    .button {
    background-color: #994d47;
    color: #240f0e;
    border: none;
    min-width: 120px;
    padding: 8px;
    border-radius: 15px;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 800;
    transition: box-shadow 0.5s;
    /* box-shadow: #28301c; */
    text-transform: capitalize;
    flex-shrink: 0;
    }
    .btnContainer {
    position: relative;
    height: 35px;
    }
    .btnContainer::before,
    .btnContainer::after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -2px;
    }
    .btnContainer::before {
        left: -2px;
        background: linear-gradient(
        90deg,
        rgba(247, 216, 206, 1) 72%,
        rgba(169, 148, 233, 0) 100%
    );
    }
    .btnContainer::after {
    right: -2px;
    background: linear-gradient(
        270deg,
        rgba(247, 216, 206, 1) 72%,
        rgba(169, 148, 233, 0) 100%
    );
}
    .inputSearch {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: #994d47;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding-left: 10px;
    }
    .formOpen .inputSearch {
    background-color: #994d47;
    }
    .inputSubmit {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 38px;
    height: 38px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    background-image: url(/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    }
    .fade {
    background-color: #fff;
    border-radius: 0% 100% 100% 100%;
    cursor: pointer;
    position: absolute;
    width: 230px;
    height: 230px;
    left: -107px;
    top: -107px;
    transition: all 0.3s 0.3s;
    display: none;
    }
    .fadeOpen {
    border-radius: 0;
    padding: 0 !important;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    transition: all 0.3s;
    }
    .header {
    background-color: rgb(243, 216, 206);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 10;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        max-width: 1920px;
        margin: 0 auto;
        gap: 20px;
    }
    .wrapperButtons {
    display: flex;
    gap: 16px;
    max-width: 950px;
    overflow: auto;
    padding: 0 50px;
    }
    .form {
    position: relative;
    width: 280px;
    height: 40px;
    }
    @media (hover: hover) {
        .button:hover {
            cursor: pointer;
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
        }
    }
    @media (max-width: 1200px) {
        .button {
            min-width: 80px;
        }
        .btnContainer {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.4s;
            opacity: 0;
            height: 100vh;
            padding: 80px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .wrapperButtons {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .button {
            color: #240f0e;
            min-width: 120px;
            padding: 8px 0;
            font-size: 20px;
        }
        .btnContainer::before,
        .btnContainer::after {
            content: "";
            display: block;
            width: 100%;
            height: 35px;
        }
        .btnContainer::before {
            top: 60px;
            /* background: linear-gradient(90deg,rgba(247, 216, 206, 1) 72%, rgba(169, 148, 233, 0) 100%); */
            background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.87) 72%,
            rgba(255, 255, 255, 0.359) 100%
            );
        }
        .btnContainer::after {
            bottom: 60px;
            top: auto;
            background: linear-gradient(
            0deg,
            rgb(255, 255, 255) 72%,
            rgba(255, 255, 255, 0.359) 100%
            );
        }
        .fade {
            display: block;
        }
        .wrapperButtonsOpen {
        opacity: 1;
        transition: opacity 0.3s 0.3s;
    }
    }
    @media (max-width: 1024px) {
        .form {
            width: 200px;
        }
        .wrapperButtons {
            gap: 8px;
    }
    }
    @media (max-width: 768px) {
        
    }
