.button {
    background-color: #994d47;
    color: #240f0e;
    border: none;
    min-width: 120px;
    padding: 8px ;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    transition: box-shadow 0.5s;
    /* box-shadow: #28301c; */
    text-transform: capitalize;
    flex-shrink: 0;
}
.btnContainer {
    position: relative;
    height: 35px;
}
.btnContainer::before, .btnContainer::after{
    content: "";
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 0;
}
.btnContainer::before {
    left: 0;
    background: linear-gradient(90deg,rgba(247, 216, 206, 1) 72%, rgba(169, 148, 233, 0) 100%);
}
.btnContainer::after {
    right: 0;
    background: linear-gradient(270deg,rgba(247, 216, 206, 1) 72%, rgba(169, 148, 233, 0) 100%);
}

@media(hover:hover) {
    .button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1920px;
    margin: 0 auto;
}

.form {
    position: relative;
    width: 280px;
    height: 40px;
}

@media(max-width:1024px) {
    .form {
        width: 200px;
    }
}

.wrapperButtons {
    display: flex;
    gap: 16px;
    max-width: 950px;
    overflow: auto;
    padding: 0 50px;
}

.inputSearch {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: #994d47;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding-left: 10px;
}

.formOpen .inputSearch {
    background-color:#994d47;
}

.inputSubmit {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 38px;
    height: 38px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    background-image: url(/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.header {
    background-color: rgb(243, 216, 206);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 10;
}

.list { 
    gap: 17px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 450px);
    grid-auto-rows: 450px;
    padding-top: 110px;
    padding-left: 0;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    grid-auto-flow: dense;
}

.li {
    transition: box-shadow 0.5s;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
} 

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

@media(hover:hover) {
    .li:hover {
        box-shadow: 0px 0px 20px #fff;
    }
}

.burger{ 
    display: none;
}

.fade {
    background-color: #fff;
    border-radius: 0% 100% 100% 100%;
    cursor: pointer;
    position: absolute;
    width: 230px;
    height: 230px;
    left: -107px;
    top: -107px;
    transition: all 0.3s 0.3s;
    display: none;
}

.fadeOpen {
    border-radius: 0;
    padding: 0 !important;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    transition: all 0.3s;
}

.burgerLineBase {
    display: block;
    position: absolute;
    background-color: black;
    width: 80%;
    height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burgerLineBase::before, 
.burgerLineBase::after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}
.burgerLineBase::before {
    top: -11px;
}
.burgerLineBase::after {
    bottom: -11px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 4px black;
}

.loaderHidden {
    visibility: hidden;
    user-select: none;
    z-index: -1;
}

.gif {
    object-fit: cover;
}

.mainFade {
    background-color: #cb89b986;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

.wrapperInfo {
    padding: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 140px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(7px);
}
.name{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 17px;
    min-height: 51px;
    color: #fefcf4;
}
.detailsWrapper{
    display: flex;
    justify-content: space-between;
}
.ratingWrapper{
    color: #240f0e;
}
.year {
    font-weight: 600;
    font-size: 17px;
    color: #240f0e;
    color: #e2e0d8;
}
.iconRating {
    background-image: url(/star.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
}
.ratingElement{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    color: #e2e0d8;
}

@media(max-width:1200px) {
    .button {
        min-width: 80px;
        /* : 4px;padding */
    }
}

@media(max-width:1024px) {
    .wrapperButtons {
        gap: 8px;
    }
    
    } 

@media(max-width:768px) {
    .fade {
        display: block;
    }
    .burger {
        background-color: transparent;
        display: block;
        z-index: 20;
        width: 40px;
        height: 40px;
        border: none;
        position: relative;
        padding: 0;
    }
    .btnContainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        opacity: 0;
        height: 100vh;
        padding: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapperButtons {
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    .wrapperButtonsOpen {
        opacity: 1;
        transition: opacity 0.3s 0.3s;
    }
    .button {
        color: #cb89b9;
        min-width: 120px;
        padding: 8px 0;
        font-size: 20px;
    }
    .btnContainer::before, .btnContainer::after{
        content: "";
        display: block;
        width: 100%;
        height: 35px;
    }
    .btnContainer::before {
        top: 60px;
        /* background: linear-gradient(90deg,rgba(247, 216, 206, 1) 72%, rgba(169, 148, 233, 0) 100%); */
        background:linear-gradient(180deg, rgba(255, 255, 255, 0.87) 72%, rgba(255, 255, 255, 0.359)100%);
        
    }
    .btnContainer::after {
        bottom: 60px;
        top: auto;
        background:linear-gradient(0deg, rgb(255, 255, 255) 72%, rgba(255, 255, 255, 0.359)100%);
    }
}

@media (max-width: 425px) {
    
}

/* .burgerLineFirst {
    
}
.burgerLineSec {
    
}
.burgerLineThird {
    
} */