@media (max-width: 768px) {
  
  
  .list {
  gap: 17px;
  grid-template-columns: repeat(2, 1fr);
}
  .name {
  font-weight: 700;
  font-size: 16px;
}
  .year{
  font-size: 16px;
}
  .ratingElement {
  font-size: 16px;
}
}